body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
}

.login-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-card{
    width:430px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.title{
    text-align:center;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:gray;
    margin-bottom:30px;
}

.role-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-bottom:25px;
}

.role{
    padding:14px;
    border:2px solid #ddd;
    background:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.role.active{
    border-color:#5b4cf0;
    color:#5b4cf0;
    font-weight:bold;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:6px;
}

.input-group input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    box-sizing:border-box;
}

.login-options{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    font-size:14px;
}

.login-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#5b4cf0;
    color:white;
    font-size:17px;
    cursor:pointer;
}

.role{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:15px;

    border:2px solid #ddd;
    background:white;
    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.role:hover{
    border-color:#5b4cf0;
    transform:translateY(-2px);
}
.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  font-size: 18px;
}

.password-toggle:hover {
  color: #5b4df0;
}