body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    height: 60px;
    background: #1e293b;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}


.layout {
    display: flex;
}


.sidebar {

    width: 220px;

    height: calc(100vh - 60px);

    background: #334155;

    color: white;

    padding: 20px;

}


.sidebar ul {

    list-style: none;
    padding: 0;

}


.sidebar li {

    padding: 15px 5px;
    cursor: pointer;

}


.content {

    flex: 1;

    padding: 30px;

}